.toast {
    position: absolute;
    z-index: 100;
    top: -10px;
    left: -15px;
    width: calc(100% + 30px);
    max-width: 110% !important;
    height: calc(100% + 20px);
}
.toast-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100%;
}
.toast-body > img {
    border-radius:50%;
    border: 1px black solid;
    width: calc(25px + 10vmin);
    height: calc(25px + 10vmin);
}
.toast-body > span {
    margin-left: 10px;
    font-size: calc(10px + 2vmin);
}