$up:10px;
$left:15px;

.toast {
    position: absolute;
    z-index: 100;
    top: -$up;
    left: -$left;
    width: calc(100% + #{$left * 2});
    max-width: 110% !important;
    height: calc(100% + #{$up * 2});

    .toast-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height:100%;

        > img {
            border-radius:50%;
            border: 1px black solid;
            width: calc(25px + 10vmin);
            height: calc(25px + 10vmin);
        }
        > span {
            margin-left: 10px;
            font-size: calc(10px + 2vmin);
        }
    }
}